<div id="srchcontainer">
  <a href="results.html"><img id="logo" src="img/google.png" /></a>
  <form id="main" action="/results" method="POST">
    <input type="text" name="search" />
    <div><button>Search</button></div>
  </form>
</div>