<div id="srchcontainer">
      <a href="results.html"><img id="logo" src="images/google.png" /></a>
      <form id="main">
        <input type="text" name="inputSearch" required />
        <div><button>Search</button></div>
      </form>
</div>